src/.gradle/
src/.idea/
src/local.properties
src/app/build/
src/build
src/gradle.properties

*.hprof

src/buildSrc/.gradle/
src/buildSrc/build/

*.iml
src/xcuserdata
!src/**/build/
Src/local.properties
src/.DS_Store
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings