name: Popcorn

on:
  pull_request:
    branches: ["main"]
    paths:
      - "**/build-logic/**"
      - "**.gradle.kts"

jobs:
  popcorn:
    runs-on: ubuntu-latest
    env:
      MOVIE_DB_API_TOKEN: ${{ secrets.MOVIE_DB_API_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: ./.github/actions/java
      - name: Grant execute permission for gradlew
        working-directory: ./src
        run: chmod +x gradlew
      - name: Grant execute permission for popcorngp.sh
        run: chmod +x ./github/workflows/scripts/popcorngp.sh
      - name: Run popcorn
        id: module_analysis
        run: ./github/workflows/scripts/popcorngp.sh