name: Popcorn

on:
  pull_request:
    branches: ["main"]
    paths:
      - "**/build-logic/**"
      - "**.gradle.kts"

jobs:
  popcorn:
    runs-on: ubuntu-latest
    env:
      MOVIE_DB_API_TOKEN: ${{ secrets.MOVIE_DB_API_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: ./.github/actions/java
      - name: Grant execute permission for gradlew
        working-directory: ./src
        run: chmod +x gradlew
      - name: Run popcorn
        working-directory: ./src
        run: ./gradlew popcorn -PerrorReportEnabled
        continue-on-error: true
      - name: Grant execute permission for print_popcorn_error_report
        run: chmod +x ./.github/workflows/scripts/print_popcorn_error_report.sh
      - name: Read Markdown file
        id: read_markdown
        run: |
          content=$(cat ./.github/workflows/scripts/print_popcorn_error_report.sh)
          echo "content<<EOF" >> $GITHUB_OUTPUT
          echo "$content" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - name: Comment on PR
        uses: peter-evans/create-or-update-comment@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }}
          body: ${{ steps.read_md.outputs.content }}
