name: Popcorn

on:
  pull_request:
    branches: ["main"]
    paths:
      - "**/build-logic/**"
      - "**.gradle.kts"

jobs:
  popcorn:
    runs-on: ubuntu-latest
    env:
      MOVIE_DB_API_TOKEN: ${{ secrets.MOVIE_DB_API_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: ./.github/actions/java
      - name: Grant execute permission for gradlew
        working-directory: ./src
        run: chmod +x gradlew
      - name: Run popcorn
        working-directory: ./src
        run: ./gradlew popcorn
      - name: Grant execute permission for group_popcorn_reports
        run: chmod +x ./scripts/group_popcorn_reports.sh
      - name: Read Markdown file
        id: read_markdown
        run: ./scripts/group_popcorn_reports.sh >> $GITHUB_ENV && echo "EOF" >> $GITHUB_ENV
      - name: Post comment via API
        if: github.event_name == 'pull_request'
        run: |
          curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
               -H "Accept: application/vnd.github.v3+json" \
               https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/comments \
               -d "{\"body\": \"$COMMENT_BODY\"}"
